.quote-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #444;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.quote-list p {
  color: #bbb;
  font-size: 1.2em;
  text-align: center;
  margin-top: 10px;
}

  