/* src/Pages/HomePage/HomePage.css */
.home-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .buttons-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  .quote-me-button, .photo-me-button {
    margin: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .large {
    font-size: 20px; /* Larger size for buttons */
    padding: 15px 30px; /* Larger padding */
  }
  
  .medium {
    font-size: 16px; /* Default size for buttons */
    padding: 10px 20px; /* Default padding */
  }
  
  .content-container {
    margin-top: 20px;
    text-align: center;
  }
  
  .random-quote {
    font-size: 18px; /* Adjust quote font size */
    margin: 10px 0;
  }
  
  .random-photo {
    max-width: 400px; /* Set a maximum width to prevent oversized images */
    height: auto;
    border-radius: 8px; /* Optional: add some border radius for better appearance */
  }
  